* {
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body {
  background:var(--main_background);
  margin:0;
}

a {
  color:var(--black_1);
  text-decoration:none;
}

:root {
  --gray_1:#fafafa;
  --gray_2:#b9b8b8;
  --gray_3:#8e8e8e;
  --secondary_background:#efefef;
  --black_1:#262626;
  --main_background:#fcfcfc;
  --main_blue:#0095f6;
  --blue:#385185;
  --separator:#dbdbdb;
  --nav-index:99;
}