@mixin flex($direction:null, $align-items:null, $justify-content:null) {
  align-items:$align-items;
  display:flex;
  flex-direction:$direction;
  justify-content:$justify-content;
}

%without-default-button-styles {
  background:none;
  border:none;
  padding:0;
}

%text-overflow-ellipsis {
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

%align-y {
  top:50%;
  transform:translateY(-50%);
}

%align-x {
  left:50%;
  transform:translateX(-50%);
}

%align-x-and-y {
  left:50%;
  top:50%;
  transform:translate(-50%, -50%);
}

%darker-click-effect {
  cursor:pointer;

  &:hover {
    filter:brightness(98%);
  }

  &:active {
    filter:brightness(90%);
  }
}

%opacity-click-effect {
  cursor:pointer;

  &:hover {
    opacity:.9;
  }

  &:active {
    opacity:.7;
  }
}

@mixin change-color-effect($hover_color, $opacity_on_active) {

  cursor:pointer;

  &:hover {
    background:$hover_color;
  }

  &:active {
    filter:opacity($opacity_on_active);
  }
}

@mixin media-query($min-width) {
  @media print, screen and (min-width:$min-width) {
    @content;
  }
}

@mixin text-ellipsis($max-width) {
  max-width:$max-width;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

@mixin dimentions($width, $height) {
  height:$height;
  width:$width;
}