@import "@/styles/utils.scss";

.main_container {
  @include flex(column, center, center);
  height:100vh;
  margin-top:40px;

  @include media-query(45rem) {
    margin-left:34px;
    margin-top:0px;
  }

  @include media-query(76.875rem) {
    margin-left:0px;
    position:static;
  }
}

.direct_container {
  @include flex(row);
  background:white;
  border:1px solid var(--separator);
  border-radius:3px;
  height:90vh;
  width:100%;

  @include media-query(45rem) {
    width:80%;    
  }

  @include media-query(69.375rem) {
    width:933px;
  }

  @include media-query(76.875rem) {
    margin-left:250px;
  }
}