@import "@/styles/utils.scss";

.input_container {
  position:relative;
}

.input {
  background:var(--main_background);
  border:1px solid var(--separator);
  border-radius:6px;
  padding:10px;
  width:100%;

  &::placeholder {
    color:var(--gray_2);
    opacity:.5;
  }

  &:focus {
    outline:1px solid gray;
  }

  &::-webkit-search-cancel-button {
    display:none;
  }
}

.search_icon {
  @extend %align-y;
  left:15px;
  pointer-events:none;
  position:absolute;
}

.close_icon {
  @extend %darker-click-effect;
  @extend %align-y;
  color:var(--gray_2);
  position:absolute;
  right:15px;
}