@import "@/styles/utils.scss";

.main_container {
  @include flex(column, center);

  h1 {
    margin:0px;
  }
}

.form {
  @include flex(column, center);
  padding:0px 50px;
  margin-bottom:10px;
  width:100%;

  .input:first-child {
    margin-bottom:5px;
  }
}

.checkbox {
  margin:20px 0px;
}

.button {
  background:var(--main_blue);
  color:white;
}

.login_with_facebook {
  @extend %opacity-click-effect;
  color:var(--blue);
  display:flex;
  font-size:.9rem;

  .facebook_icon {
    background-image:url("/images/icons/icons-sprites.png");
    background-position:18px -258px;
    background-size:auto;
    height:20px;
    margin-right:7px;
    width:18px;
  }
}

.forgot_your_password {
  @extend %opacity-click-effect;
  color:var(--blue);
  font-size:.73rem;
  margin:20px;
}